
	<div  layout="column" ng-controller="VendedorCtrl" style="height:1000px" ng-cloak >
		 	<section  layout="row" layout-align="center top" flex>
			<div flex layout="column">
				<md-toolbar class="md-primary">
   			 <div   class="md-toolbar-tools">
     			 <h2 class="md-flex"> Clientes</h2>
					 <span flex></span>
					 <md-button>
						 Registrar Cliente
					 </md-button>
					 	 <md-button>
						 Ver Lista de Clientes
					 </md-button>
    			</div>
 				</md-toolbar>
				 <div layout="column" layout-align="center center">
					 <md-card>
					 		<md-content  layout="column" layout-align="top center"  style="padding-left: 10px; padding-top: 5px" md-theme="docs-dark" >
					<md-list  layout-padding layout-align="start start" >
							<h2>Registrar Cliente</h2>
						<div layout-fill layout="column">

							<div layout="column" layout-align="start start">
					
				    	<form name="clienteForm">
						
						<div layout="row">
						
							
								<md-input-container layout="row" flex>
									<label>Nombre del Cliente</label>
									<input type="text" ng-model="cliente.nombre" name="nombre" required/>
								<div ng-messages="clienteForm.nombre.$error">
									<div ng-message="required">El nombre del cliente es requerido.</div>
								</div>
								</md-input-container>
								
								
						
						</div>
						
	                        </div>
						<div layout="row">	
                          	<md-input-container flex >
							<label>Dirección</label>
							<input type="text" />
						</md-input-container>
					</div>
					
						<div  layout="row" >
							<md-input-container>
								<label>Teléfono</label>
								<input type="tel" />
							</md-input-container>
							<md-input-container>
								<label>Email</label>
								<input type="email" />
							</md-input-container>
						</div>
						<div  layout="row" layout-align="end end">	
                          <md-button ng-click="guardarcliente()" class="md-raised md-primary"
						  ng-disabled="accesorioForm.$invalid"
						  
						  >Guardar</md-button>
						</div>
			          </form>
				 </md-card>
				 </div>
				 
			
			
						</div>
					
					</md-card>
				
				</md-content>
			</div>

			
		  </section>
	</div>
