
	<div  layout="column" ng-controller="AgregarClienteCtrl" style="height:1000px" ng-cloak >
		 	<section  layout="row" layout-align="center top" flex>
			<div flex layout="column">
		
				 <div layout="column" layout-align="center center">
					 <md-card style="width:700px">
					 		<md-content  layout="column" layout-align="top center"  style="padding-left: 10px; padding-top: 5px" md-theme="docs-dark" >
					<md-list  style="min-width:494px"  layout-padding layout-align="start start" >
							<h2>Registrar Cliente</h2>
						<div layout-fill layout="column">

							<form name="clienteForm">
							<div layout="column" layout-align="start start">
					
				    	
						
						<div layout="row">
						
								<md-input-container  flex>
									<label>Nombre del Cliente</label>
									<input type="text" ng-model="cliente.nombre" name="nombre" required/>
								<div ng-messages="clienteForm.nombre.$error">
									<div ng-message="required">El nombre del cliente es requerido.</div>
								</div>
								</md-input-container>
								
								
						
						</div>

						<div layout="row">	
                           <md-input-container flex>
							<label> RFC </label>
								<input type="text">
							</label>
						   </md-input-container>

						</div>
						
	                        </div>
						<div layout="row">	
                          	<md-input-container flex >
							<label>Dirección</label>
							<input type="text" />
						</md-input-container>
					</div>
					
						<div  layout="row" >
							<md-input-container flex="40">
								<label>Teléfono</label>
								<input required ng-model="cliente.telefono" type="number" name="telefono" step="any" ng-pattern="/[0-9]+/g" />
									<div ng-messages="clienteForm.telefono.$error">
									<div ng-message="pattern">###-##-## Ingrese un numero de telefono valido.</div>
								</div>
							</md-input-container>

							<md-input-container>
								  <label>Email</label>
                                  <input required ng-model="cliente.email" type="text" name="email" ng-pattern="/^.+@.+\..+$/"  />
                                    <div ng-messages="clienteForm.email.$error">
                                   		 <div ng-message="pattern" >ejemplo@email.com </div>                             
                                 	</div>
							</md-input-container>

						</div>

						<div  layout="row" layout-align="end end">	
                          <md-button ng-click="guardarcliente()" class="md-raised md-primary"
						  ng-disabled="clienteForm.$invalid"
						  
						  >Guardar</md-button>
						</div>
			          </form>
				 </md-card>
				
				 </div>
				 
			
			
						</div>
					
					
				
				</md-content>
			</div>

			
		  </section>
	</div>
