
		<div  layout="column" ng-controller="ExtinguidorCtrl" style="height:1000px" ng-cloak >
		 	<section  layout="row" layout-align="center top" flex>
			<div flex layout="column"  >
				<md-toolbar class="md-primary">
   			 <div   class="md-toolbar-tools">
     			 <h2 class="md-flex"> Extintores</h2>
					 <span flex></span>
					
					 
    			</div>
 				</md-toolbar>
				 <div layout="column" layout-align="center center">
					 <md-card style="width:700px" >
					 		<md-content style="overflow:hidden" layout="column" layout-align="top center"  style="padding-left: 10px; padding-top: 5px" md-theme="docs-dark" >
					
							<h2>Extintor </h2>

							<div layout="column" layout-align="start start">
					     
                          <div layout="row"  >	
							   <md-input-container>
                                <label>Buscar Extinguidor</label>
                                <input>
                                </md-input-container>
                                <md-input-container style="margin-right: 10px;">
									<md-icon > search</md-icon>
                                <label>Capacidad</label>
                                 <md-select ng-model="capacidad">
                                 <md-option ng-repeat="capacidad in capacidades" value="{{capacidad}}">{{capacidad}}</md-option>
                                 </md-select>
                               </md-input-container>
							   
						  </div>
                           <div  layout="row"> 
                              <md-card flex style="overflow:auto;height:300px;margin-bottom:40px" >
							  <md-list  layout-padding layout-align="start start" >
							   <md-list-item ng-repeat="extinguidor in extinguidores">
						       <div layout="row">
                               <p> {{extinguidor.extinguidor}} </p>
   
						        </div>
						       </md-list-item>
						
						  		 </md-card>
							 </div>
						 	<div layout="column" layout-align="start start">
							         	<form name="extintorForm">
						          	<div layout="row">
						
							
								<md-input-container  flex>
									<label>Agregar Extinguidor</label>
									<input type="text" ng-model="extintor.nombre" name="nombre" required/>
								<div ng-messages="extintorForm.nombre.$error">
									<div ng-message="required">El nombre del extinguidor es requerido.</div>
								</div>
								</md-input-container>
								
						
						
						</div>	   
						</div>
							   				<div flex layout="row" layout-align="end end" style="margin-left: 500px">	
                                        <md-button ng-click="guardarExtintor()" class="md-raised md-primary"
						                 ng-disabled="extintorForm.$invalid"
						  
						               >Guardar</md-button>
									   </form>
						</div>
								
						  
				    	
	                        </div>
					
					
					
				 </md-card>
		
				 
			
			
						</div>
					
					
				</md-content>
			</div>

			
		  </section>
	</div>




