<div ng-controller="AppCtrl" layout="column"  ng-cloak="" class="sidenavdemoCustomSidenav" ng-app="MyApp">

  <section layout="row">

    <md-sidenav flex="30" class="md-sidenav-left" md-component-id="left"  md-whiteframe="4">

     <md-toolbar class="md-theme-indigo">
       <h1 class="md-toolbar-tools">DESCO</h1>
     </md-toolbar>

     <md-content layout-margin>
       <div>
         <md-button   ui-sref=".cliente.agregar">Agregar Cliente</md-button> <br>
       </div>
        <div>
          <md-button  ui-sref=".vendedores.agregar">Vendedores</md-button> <br>
        </div>
         <div>
          <md-button  ui-sref=".registrarOrdenS">Registrar Orden de Servicio</md-button> <br>
        </div>
         <div>
          <md-button  ui-sref=".registrarExtinguidores">Registrar Extinguidores</md-button> <br>
        </div>
        <div>
          <md-button  ui-sref=".registrarAccesorios">Registrar Accesorios</md-button> <br>
        </div>
           <div>
          <md-button  ui-sref=".reportesMensuales">Reportes mensuales</md-button> <br>
        </div>
         
        <md-button ng-click="toggleLeft()" class="md-accent">
          INICIO
        </md-button>
      </md-content>

    </md-sidenav>


    <md-content flex layout="column">
      <md-button ng-hide="!state.is('main') && sidenav('left').isOpen()"  ng-click="toggleLeft()" class="md-raised">
          REGISTROS
      </md-button>
       <ui-view></ui-view>
      
    </md-content>

  </section>

</div>

