

	<div  layout="column" ng-controller="VendedorCtrl" style="height:1000px" ng-cloak >
		 	<section  layout="row" layout-align="center top" flex>
			<div flex layout="column">
			
				 <div layout="column" layout-align="center center">
					 <md-card style="width:700px">
					 		<md-content  layout="column" layout-align="top center"  style="padding-left: 10px; padding-top: 5px" md-theme="docs-dark" >
					<md-list style="min-width:690px" layout-padding layout-align="start start" >
							<h2>Registrar Vendedor</h2>
						<div layout-fill layout="column">

							<form name="vendedorForm">
							<div layout="column" layout-align="start start">
					
				    	
						
						<div layout="row">
						
								<md-input-container  flex>
										<md-icon > account_box</md-icon>
									<label>Nombre del Vendedor</label>
									<input type="text" ng-model="vendedor.nombre" name="nombre" required/>
								<div ng-messages="vendedorForm.nombre.$error">
									<div ng-message="required">El nombre del vendedor es requerido.</div>
								</div>
								</md-input-container>
								
								
						
						</div>
						<div layout="row">	
                           <md-input-container flex>
							   	<md-icon > vpn_key</md-icon>
							<label> RFC </label>
								<input type="text">
							</label>
						   </md-input-container>

						</div>
						
	                        </div>
						<div layout="row">	
                          	<md-input-container flex >
								   <md-icon > directions</md-icon>
							<label>Dirección</label>
							<input type="text" />
						</md-input-container>
					</div>
					
						<div  layout="row" >
							 
							<md-input-container flex="40">
						     <md-icon > phone</md-icon>
								<label>Teléfono</label>
								<input required ng-model="vendedor.telefono" type="number" name="telefono" step="any" ng-pattern="/[0-9]+/g" />
									<div ng-messages="vendedorForm.telefono.$error">
									<div ng-message="pattern">###-##-## Ingrese un numero de telefono valido.</div>
								</div>
							</md-input-container>

							<md-input-container>
								<md-icon > email</md-icon>
								  <label>Email</label>
                                  <input required ng-model="vendedor.email" type="text" name="email" ng-pattern="/^.+@.+\..+$/"  />
                                    <div ng-messages="vendedorForm.email.$error">
                                   		 <div ng-message="pattern" >ejemplo@email.com </div>                             
                                 	</div>
							</md-input-container>

						</div>

						<div  layout="row" layout-align="end end">	
                          <md-button ng-click="guardarvendedor()" class="md-raised md-primary"
						  ng-disabled="vendedorForm.$invalid"
						  
						  >Guardar</md-button>
						</div>
			          </form>
				 </md-card>
				 </div>
				 
			
			
						</div>
					
					</md-card>
				
				</md-content>
			</div>

			
		  </section>
	</div>
